:host {
  display: inline-flex;
  pointer-events: none;
}

.content-wrapper {
  gap: 0.5rem;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  border-width: 2px;
  border-radius: 0;

  &:hover {
    box-shadow:
      0 0 10px var(--bs-btn-color),
      0 0 35px var(--bs-btn-color);
  }

  &:not(:disabled) {
    pointer-events: auto;
  }

  .button-icon {
    font-size: 1.2rem;
  }

  .button-text {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    &:empty {
      display: none;
    }
  }

  &.zim-button-sm {
    gap: 0.125rem;
    padding: 0;
    padding-right: 0.25rem;
    padding-left: 0.25rem;
    margin: 0;
    border-radius: 0;
    border: 0;

    .button-icon {
      font-size: 1rem;
      line-height: 1rem;
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
    }
    .button-text {
      margin: 0;
      line-height: 1rem;
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
    }
  }

  &.zim-button-lg {
    gap: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;

    .button-icon {
      font-size: 1.5rem;
    }
    .button-text {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }
}
