.code-block {
  border: solid 1px var(--bs-secondary-border-subtle);
  background-color: var(--bs-secondary-bg-subtle);
  padding: 1rem;
  border-radius: 0.25rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  margin-top: 0.5rem;
}
