:host.absolute-fill {
  display: contents !important;
  .content-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

.content-wrapper {
  background-color: var(--bs-secondary-bg-subtle);

  .items {
    overflow-y: scroll;
    .list-item {
      transition: all 0.2s ease-out;
    }

    .list-item:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
}

.header {
  gap: 0.25rem;
}
