<div class="d-flex content-wrapper align-items-stretch flex-fill">
  <zimco-list
    #listComponent
    class="side-list"
    [items]="items"
    [title]="title()"
    (selectedItemChange)="onSelectionChange($event)"
    [queryParamKey]="queryParamKey()"
    [loading]="loading"
  >
    @if (noItemsTemplate) {
      <div no-items class="no-items m-2">
        <ng-template *ngTemplateOutlet="noItemsTemplate"></ng-template>
      </div>
    }
    <ng-container header-buttons>
      <ng-content select="[header-buttons]"></ng-content>
      @if (createItemFn()) {
        <zimco-button icon="plus" size="sm" (click)="createItem()">Add</zimco-button>
      }
    </ng-container>
  </zimco-list>

  @if (template) {
    @if (selectedItem) {
      <ng-template *ngTemplateOutlet="template; context: { $item: selectedItem }"></ng-template>
    } @else {
      <div class="content flex-fill p-4 d-flex justify-content-center align-items-center">
        <div>Please select Item</div>
      </div>
    }
  } @else {
    NO_TEMPLATE
  }
</div>
