<div class="container text-center mt-5">
  <div class="row mb-5">
    <div class="col">
      <h1 class="fs-1 fw-bold text-primary">rs-auth Admin</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card btn btn-outline-primary" routerLink="/clients">
        <div class="card-body">
          <h5 class="card-title mb-4">Clients / Applications</h5>
          <p class="card-text">View and manage all registered clients and applications authorized to access the OAuth2 server.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card btn btn-outline-primary" routerLink="/user-pools">
        <div class="card-body">
          <h5 class="card-title mb-4">User Pools</h5>
          <p class="card-text">View and manage all user pools, including user accounts, authentication settings, and security configurations.</p>
        </div>
      </div>
    </div>
  </div>
</div>
